@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


button{
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 3px;
    outline: none;
    background-color: #040b33;
    border: none;
    border-radius: 5px;
    color: white;

   
}

button:hover{
    /* width: 46px;
    height: 46px; */
    opacity: 0.7;
}

.operator{
    color: white;
      background-color: #ff0513;
    
}
body{
    font-family: 'Montserrat',
    sans-serif;
    background-color: #040b33;
    color: black;
}


.header{
    margin: 20px;
}
.header h2{
    color: white;
    border-bottom: 2px solid white
}

.mainContainer
{
    margin: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040221;
    width: 290px;
    height: 500px;
    position: absolute;
    top: 1rem;
    left: 28rem;
    /* padding: 10px; */
    border-radius: 3px;
    /* box-shadow: 5px 15px 25px #d5d2d2;
 */
}

.result{
    background-color: #f3f3f3;
    width: 250px;
    height: 100px;
    margin: 20px;
    border-radius: 5px;
    position: relative;
    /* background: var(--bg); */

}

.upper-value{
    position: absolute;
    text-align: right;
    bottom: 30%;
    right: 5%;
    font-size: 32px;
    color: var(--color-text);
    
 
}
.lower-value{
    position: absolute;
    text-align: right;
    bottom: 2%;
    right: 5%;
    font-size: 32px;
    color: var(--color-text);
}
.keypad{
    display: flex;
}
.side-section{
    display: flex;
    flex-direction: column;
}